* {
    font-family: 'PT Sans', sans-serif;
}

.spacer {
    min-height: 50px;
}

/* Donasi */
.margin-top-up {
    margin-top: -2%;
}

.margin-top-down {
    margin-top: 4%;
}

.margin-top-down-donation {
    margin-top: 4%;
}

.text-title-donation {
    font-weight: 400;
    font-size: 24px;
    color: #000;
    font-style: italic;
}

.text-title {
    font-weight: 700;
    font-size: 32px;
    color: #000;
    line-height: 90%;
}

.text-donation {
    font-weight: 700;
    font-size: 18px;
    color: #000;
}

.text-donation-other {
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.text-donation-name-bank {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin-top: 4%;
}

.text-donation-danger {
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    color: #EB5757;
    margin-top: 2%;
}

.text-donation-secondary {
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    color: #000;
    margin-top: 2%;
}

.text-name-bank {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin-top: 2%;
}

.text-dropdown-account {
    font-weight: 700;
    font-size: 20px;
    color: #000;
}

.btn-nominal-donasi {
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    background-color: #FFF;
    color: #000;
    width: 100%;
    margin: 4% 0%;
    font-weight: 400;
    font-size: 16px;
}

.btn-nominal-donasi:hover {
    border: 1px solid #005E4E;
    background-color: #005E4E;
    color: #FFF;
}

.btn-change-bank {
    border-radius: 10px;
    border: 1px solid #005E4E;
    background-color: #005E4E;
    color: #FFF;
    width: 90%;
    margin: 4% 0%;
    font-weight: 400;
    font-size: 16px;
}

.btn-choose-bank {
    border-radius: 10px;
    border: 1px solid #005E4E;
    background-color: #005E4E;
    color: #FFF;
    width: 60%;
    height: 50px;
    margin: 4% 0%;
    font-weight: 400;
    font-size: 16px;
}

.btn-donasi-cancel {
    border-radius: 10px;
    border: 2px solid #005E4E;
    background-color: #FFF;
    color: #005E4E;
    width: 60%;
    height: 60px;
    margin: 4% 0%;
    font-weight: 700;
    font-size: 16px;
}

.btn-donasi-cancel:hover {
    border: 2px solid #005E4E;
    background-color: #005E4E;
    color: #FFF;
}

.btn-donasi-process {
    border-radius: 10px;
    border: 2px solid #FFF;
    background-color: #005E4E;
    color: #FFF;
    width: 60%;
    height: 60px;
    margin: 4% 0%;
    font-weight: 700;
    font-size: 16px;
}

.btn-donasi-process:hover {
    border: 2px solid #005E4E;
    background-color: #FFF;
    color: #005E4E;
}

.active {
    border: 1px solid #005E4E;
    background-color: #005E4E;
    color: #FFF;
}

.input-group-style {
    border-radius: 10px !important;
}

.input-group-style-left {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.input-group-style-right {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.input-nominal {
    background-color: #FFF;
    color: #000;
    font-weight: 700;
    font-size: 16px;
}

.input-pohon {
    background-color: #FFF;
    color: #4D4D4D;
    font-weight: 700;
    font-size: 16px;
}

.img-logo-bank {
    width: 80%;
    margin-top: 2%;
}

.img-logo-bank-dropdown {
    width: 100%;
    margin-top: 10% !important;
}

.chat-style {
    position: fixed;
    bottom: 2%;
    right: 1%;
    cursor: pointer;
}

.chat-style:hover {
    transform: scale(1.1);
}

.form-control:focus {
    border-color: #005E4E;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 94, 78, 0.6);
}

.line {
    border: 1px solid #C4C4C4;
}

.line-label {
    border: 1px solid #C4C4C4;
    width: 100%;
}

.accordion-style {
    background-color: #FFF;
}

.accordion-style:hover {
    cursor: pointer;
}

.accordion-style-pay {
    background-color: #F6F6F6;
    padding: 2% 5%;
}

.fa-chevron-circle-down {
    transition: all 0.2s ease;
}

.icon-style {
    color: #005E4E;
    background-color: #FFF;
}

.icon-style-times {
    color: #EB5757;
    background-color: #FFF;
}

.accordion-style.collapsed .fa-chevron-circle-down {
    transform: rotate(180deg);
}

.dropdown-label {
    display: flex;
    width: 118%;
    justify-content: space-between;
}

.label-hover:hover {
    cursor: pointer;
}

input[type='radio']:after {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #005E4E;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D4D4D4;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #005E4E;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #00806A;
}

input:focus+.slider {
    box-shadow: 0 0 1px #00806A;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.icon-plus:hover {
    cursor: pointer;
}

.icon-times:hover {
    cursor: pointer;
}

.text-area {
    resize: none;
}

/* Instruksi Pembayaran */

.text-nominal {
    font-weight: 700;
    font-size: 48px;
    color: #000;
}

.text-title-account {
    font-weight: 700;
    font-size: 32px;
    color: #000;
    line-height: 90%;
}

.text-to-account {
    font-weight: 400;
    font-size: 24px;
    color: #000;
}

.text-copy {
    font-weight: 700;
    font-size: 28px;
    color: #005E4E;
}

.text-copy:hover {
    cursor: pointer;
}

.text-guide {
    font-weight: 700;
    font-size: 24px;
    color: #000;
}

.margin-top-down-nominal {
    margin-top: 2%;
}

.panel-style {
    padding: 2% 10%;
}

.btn-donasi-share-instruksi {
    border-radius: 10px;
    border: 2px solid #005E4E;
    background-color: #FFF;
    color: #005E4E;
    width: 100%;
    height: 60px;
    margin: 2% 0%;
    font-weight: 700;
    font-size: 16px;
}

.btn-donasi-share-instruksi:hover {
    border: 2px solid #005E4E;
    background-color: #005E4E;
    color: #FFF;
}

.btn-donasi-process-instruksi {
    border-radius: 10px;
    border: 2px solid #FFF;
    background-color: #005E4E;
    color: #FFF;
    width: 100%;
    height: 60px;
    margin: 2% 0%;
    font-weight: 700;
    font-size: 16px;
}

.btn-donasi-process-instruksi:hover {
    border: 2px solid #005E4E;
    background-color: #FFF;
    color: #005E4E;
}

.radio-donasi {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.label-donasi {
    font-weight: 400;
}

/* Small Width */
@media only screen and (max-width: 768px) {
    .margin-top-jumbo {
        margin-top: 0%;
    }

    .margin-top-title {
        margin-top: 20px;
    }

    .chat-style {
        display: none;
    }

    .btn-style {
        font-weight: bold;
        font-size: 18px;
        border-radius: 10px;
        width: 80% !important;
        margin-top: 10px;
    }

    .img-logo-bank {
        margin-top: 10%;
    }

    .btn-change-bank {
        width: 100%;
    }

    .btn-donasi-cancel-mobile {
        width: 100%;
    }

    .btn-donasi-process-mobile {
        width: 100%;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
        transform: translateX(5px);
    }

    /* Instruksi Pembayaran */
    .text-title-account {
        font-size: 24px;
    }

    .text-copy {
        font-size: 20px;
    }

    .text-transfer {
        margin-left: 5%;
    }
}